$color-primary-pink: #f0899c;
$color-primary-blue: #00b5e2;
$color-white: #ffffff;
$color-black: #000000;
$color-success: #00c566;
$color-error: #ff4747;
$color-warning: #facc15;
$color-text-black: #0F172A;
$color-grey: #657790;
